/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

a {
    text-decoration: none;
}

.no-padding {
    padding: 0 0 0 0 !important;
}

.no-margin {
    margin: 0;
}

.search-result {
    height: 90px;
    padding: 25px 10px;
    border: 1px solid #999;
}

.search-result h3 {
    margin: 0;
    padding-top: 5px;
    font-size: 16px;
}

.search-result a {
    display: block;
}

.fa-map-marker {
    font-size: 1.2em;
}

.use-location.active {
    color: #0066CC;
}

.row.row-spaced-small {
    margin-bottom: 5px;
}