/* app css stylesheet */

.listing {
	margin-bottom: .61820em;
	padding-bottom: 1.3820em;
	border-bottom: 1px solid #ccc;
}
h3.header1 {
	font-size: 1.21em;
	margin-top: 0;
	font-weight: 400;
	line-height: 120%;
}
object {
	width: 100%;
	display: block;
	height: auto;
	position: relative;
	padding-top: 13.4%;
}
svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.logo {
	min-width:182px;	
	width: 61.8%;
	max-width:392px;
	margin: 1.618em auto 2.382em;
}

