<button type="button" ng-click="refreshFeed()">Refresh</button>

<h1>Facilities</h1>


<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="row row-spaced-small">
            <div class="col-xs-7 no-padding">
                <input type="text" ng-model="search" class="col-xs-10" placeholder="search" />
            </div>
            <div class="col-xs-5 text-right">
                <label for="nearMe" class="use-location {{nearMe ? 'active' : ''}}">
                    <input type="checkbox" ng-model="nearMe" id="nearMe" ng-change="toggleUseMyLocation()" /> Use My Current Location <i class="fa fa-map-marker"></i>
                </label>
            </div>
        </div>
        <div class="row">
            <ul class="list-unstyled">
                <li ng-repeat="facility in facilities | filter:search" class="search-result listing">
                    <a href="javascript:// View Facility" ng-click="selectFacility(facility.stationId)" >
                        <div class="row">
                            <div class="col-xs-8 col-sm-9">
                                <h3 class="header1">{{facility.name.text}}</h3>
                                <p class="text-small">{{facility.address}}</p>
                            </div>
                            <div class="col-xs-3 col-sm-2 col-xs-offset-1 text-center">
                                <a href="tel://{{facility.phoneNumber}}" ng-show="facility.phoneNumber" class="btn btn-default col-xs-12">Call <i class="fa fa-phone"></i></a>
                                <span ng-show="!facility.phoneNumber">Unavail. #</span><br />
                            </div>
                            <!--<div class="col-xs-3 col-sm-2 text-center">-->
                            <!--<a href="https://maps.google.com/?q={{(facility.address | encodeURIComponent)}}" class="btn btn-default col-xs-12" target="_blank">Map <i class="fa fa-map-marker"></i></a>-->
                            <!--</div>-->
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-md-5 col-md-offset-1">
        <div ng-show="facility" class="animate-show" id="facility-details">
            <h2>{{facility.name}}</h2>
            <div class="claro">
                <div id="facility-map">
                </div>
            </div>
            <div ng-bind-html="facility.description" class="facility-desc">
            </div>
        </div>
    </div>
</div>

