<h1 class="text-center">Welcome</h1>
<div class="search row">
    <div class="col-xs-10">
        <input type="search" class="form-control" placeholder="Search Keywords">
    </div>
    <button type="button" class="btn btn-success text-left">Go<i class="fa fa-exclamation"></i></button>
</div>
<div class="row">
    <a href="https://www.ebenefits.va.gov">
        <div class="col-xs-6 text-center">
            eBenefits
        </div>
    </a>
    <a href="#/facilities">
        <div class="col-xs-6 text-center">
            VA Facilities
        </div>
    </a>
</div>
<div class="row text-center">
    VA Hotline <i class="fa fa-phone"></i> <a href="tel://1-800-827-1000">1-800-827-1000</a>
</div>